.categories
{
    margin: 10px;
    background-color: #F3F4F6;
    padding: 10px;
    width: 200px;
    transition: transform 0.5s;
}
.categories img
{
    transition: transform 0.5s;
    
    border-radius: 6px;
    
}
.categories img:hover
{
    transform: scale(0.9);
    
}